## List Comprehensions

Let's learn about list comprehensions! You are given three integers x,y and z representing the dimensions of a cuboid along with an integer n. Print a list of all possible coordinates given by (i,j,k) on a 3D grid where the sum of i+j+k is not equal to n. Here, 0<=i<=x; 0<=j<=y; 0<=k<=z . Please use list comprehensions rather than multiple loops, as a learning exercise.

In [9]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())

print([[i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1) if sum([i,j,k]) !=n ])

2
2
2
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 2, 0], [2, 2, 1], [2, 2, 2]]

## Find the Runner-Up Score!

Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given  scores. Store them in a list and find the score of the runner-up.

In [32]:
n = int(input())
arr = map(int, input().split())
arr = sorted(arr,reverse=True)
for i in range(len(arr)):
    if arr[i] == arr[0]:
        continue
    else:
        print(arr[i])
        break

5
2 3 6 6 5
5

## Nested Lists

Given the names and grades for each student in a class of N students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

In [10]:
student = []
for _ in range(int(input())):
    name = input()
    score = float(input())
    student.append([score,name])
        
    student.sort()  # Sort list in Ascending order
    grade = student[0][0]  # Assign the first score to a list which will be the minimum
        
for i in range(1,len(student)): # Loop through the list by excluding first item in the list and find the second lowest
    if grade < student[i][0]:
        grade = student[i][0]
        break
    
for i in range(1,len(student)): # Loop through the list and print names based on the second lowest score
    if student[i][0] == grade:
        print(student[i][1])

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Berry
Harry

## Finding the percentage

The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. Print the average of the marks array for the student name provided, showing 2 places after the decimal.

In [19]:
n = int(input())
student_marks = {}
for _ in range(n):
    line = input().split()
    name, scores = line[0], line[1:]
    scores = map(float, scores)
    student_marks[name] = scores
query_name = input()
marks=0
for i in student_marks[query_name]:
    marks=marks+i
avg=marks/3
print("%.2f"%avg)

2
Harsh 25 26.5 28
Kasyap 26 28 30
Harsh
26.50

## Lists

Consider a list (list = []). You can perform the following commands:

1. insert i e: Insert integer e at position i.
2. print: Print the list.
3. remove e: Delete the first occurrence of integer e.
4. append e: Insert integer e at the end of the list.
5. sort: Sort the list.
6. pop: Pop the last element from the list.
7. reverse: Reverse the list.

Initialize your list and read in the value of n followed by n lines of commands where each command will be of the 7 types listed above. Iterate through each command in order and perform the corresponding operation on your list.

In [24]:
N = int(input())
entire_lst = list()

for _ in range(N):
    query = input().split()
    if query[0] == "print":
        print(entire_lst)
    elif query[0] == "insert":
        entire_lst.insert(int(query[1]), int(query[2]))
    elif query[0] == "remove":
        entire_lst.remove(int(query[1]))
    elif query[0] == "append":
        entire_lst.append(int(query[1]))
    elif query[0] == "sort":
        entire_lst = sorted(entire_lst)
    elif query[0] == "pop":
        entire_lst.pop()
    elif query[0] == "reverse":
        entire_lst.reverse()

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

## Tuples

### Task
Given an integer, n , and n space-separated integers as input, create a tuple,t, of those n integers. Then compute and print the result of hash(t).

In [62]:
n = int(input())
integer_list = map(int, input().split())
integer_list = tuple((integer_list))
print(hash(integer_list))

2
1 2
-3550055125485641917

## Introduction to Sets

### Task

Now, let's use our knowledge of sets and help Mickey.<br>

Ms. Gabriel Williams is a botany professor at District College. One day, she asked her student Mickey to compute the average of all the plants with distinct heights in her greenhouse.

In [35]:
def average(array):
    heights = set(array)
    return sum(heights)/len(heights)

if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())
    result = average(arr)
    print(result)

10
161 182 161 154 176 170 167 171 170 174
169.375

## No Idea!

There is an array of n integers. There are also 2 disjoint sets, A and B, each containing m integers. You like all the integers in set A and dislike all the integers in set B. Your initial happiness is o. For each i integer in the array, if i belons to A, you add 1 to your happiness. If i belong to B, you add -1 to your happiness. Otherwise, your happiness does not change. Output your final happiness at the end.<br>

Note: Since A and B are sets, they have no repeated elements. However, the array might contain duplicate elements.<br>


Constraints:
   1.    1<=n<=10^5
   2.    1<=m<=10^5
   3.    1<=any integer in the input <=10^9

In [37]:
n,m = list(map(int,input().split()))
arr = list(map(int,input().split()))
A = set(map(int,input().split()))
B = set(map(int,input().split()))
result=0
for x in arr:
    if x in A:
        result+=1
    elif x in B:
        result-=1
print(result)

3 2
1 5 3
3 1
5 7
1

## Symmetric Difference

### Task:

Given 2 sets of integers, M and N, print their symmetric difference in ascending order. The term symmetric difference indicates those values that exist in either M or N but do not exist in both.<br>

Input Format:<br>

The first line of input contains an integer, M.<br>
The second line contains M space-separated integers.<br>
The third line contains an integer, N.<br>
The fourth line contains N space-separated integers.

In [43]:
M = int(input())
M_list = map(int,input().split(' '))
N = int(input())
N_list = map(int,input().split(' '))

a  = set(M_list)
b = set(N_list)

tmp1 = a.difference(b)
tmp2 = b.difference(a)
result = tmp1.union(tmp2)
finalresult = sorted(result)

for ele in finalresult:
    print(ele)

4
2 4 5 9
4
2 4 11 12
5
9
11
12

## Set .add()

### Task:

Apply your knowledge of the .add() operation to help your friend Rupal.

Rupal has a huge collection of country stamps. She decided to count the total number of distinct country stamps in her collection. She asked for your help. You pick the stamps one by one from a stack of N country stamps.

Find the total number of distinct country stamps.

In [46]:
N = int(input())
dict_set = set()

for i in range((N)):
    dict_set.add(input())

print(len(dict_set))

7
UK
USA
UK
France
Aust
UK
India
5

## Set .discard(), .remove() & .pop()

### Task:
You have a non-empty set s, and you have to execute N commands given in N lines.

The commands will be pop, remove and discard.

In [49]:
n = int(input())
s = set(map(int, input().split()))

for i in range(int(input())):
    query = input().split()
    if query[0] == "pop":
        s.pop()
    elif query == "remove":
        s.remove(int(query[1]))
    else:
        s.discard(int(query[1]))
        
print(sum(s))

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5
4

## Set .union() Operation

## Task
The students of District College have subscriptions to English and French newspapers. Some students have subscribed only to English, some have subscribed to only French and some have subscribed to both newspapers.<br>

You are given two sets of student roll numbers. One set has subscribed to the English newspaper, and the other set is subscribed to the French newspaper. The same student could be in both sets. Your task is to find the total number of students who have subscribed to at least one newspaper.

In [63]:
engpaper = int(input())
engpaper_rollno = set(input().split())
frenchpaper = int(input())
frenchpaper_rollno = set(input().split())
totalsubscription = len(engpaper_rollno.union(frenchpaper_rollno))
print(totalsubscription)

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
13

## Set .intersection() Operation

### Task
The students of District College have subscriptions to English and French newspapers. Some students have subscribed only to English, some have subscribed only to French, and some have subscribed to both newspapers.

You are given two sets of student roll numbers. One set has subscribed to the English newspaper, one set has subscribed to the French newspaper. Your task is to find the total number of students who have subscribed to both newspapers.

In [64]:
engpaper = int(input())
engpaper_rollno = set(input().split())
frenchpaper = int(input())
frenchpaper_rollno = set(input().split())
totalsubscription = len(engpaper_rollno.intersection(frenchpaper_rollno))
print(totalsubscription)

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
5

## Set .difference() Operation

### Task

Students of District College have a subscription to English and French newspapers. Some students have subscribed to only the English newspaper, some have subscribed to only the French newspaper, and some have subscribed to both newspapers.

You are given two sets of student roll numbers. One set has subscribed to the English newspaper, and one set has subscribed to the French newspaper. Your task is to find the total number of students who have subscribed to only English newspapers.

In [54]:
engpaper = int(input())
engpaper_rollno = set(input().split())
frenchpaper = int(input())
frenchpaper_rollno = set(input().split())
subscription_engpaper = len(engpaper_rollno.difference(frenchpaper_rollno))
print(subscription_engpaper)

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
4

## Set .symmetric_difference() Operation

### Task
Students of District College have subscriptions to English and French newspapers. Some students have subscribed to English only, some have subscribed to French only, and some have subscribed to both newspapers.

You are given two sets of student roll numbers. One set has subscribed to the English newspaper, and one set has subscribed to the French newspaper. Your task is to find the total number of students who have subscribed to either the English or the French newspaper but not both.

In [55]:
engpaper = int(input())
engpaper_rollno = set(input().split())
frenchpaper = int(input())
frenchpaper_rollno = set(input().split())
subscription_eng_or_french = len(engpaper_rollno.symmetric_difference(frenchpaper_rollno))
print(subscription_eng_or_french)

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
8

## Set Mutations

### TASK
You are given a set A and N number of other sets. These N number of sets have to perform some specific mutation operations on set A.

Your task is to execute those operations and print the sum of elements from set A.

In [56]:
n = int(input())
a = set(map(int, input().split()))
N = int(input())

for i in range(N):
    query = input().split()
    s = set(map(int,input().split()))
    
    if (query[0] == "update"):
        a |= s
    elif (query[0] == "intersection_update"):
        a &= s
    elif (query[0] == "difference_update"):
        a -= s
    elif (query[0] == 'symmetric_difference_update'):
        a ^= s
        
print(sum(a))

16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
intersection_update 10
2 3 5 6 8 9 1 4 7 11
update 2
55 66
symmetric_difference_update 5
22 7 35 62 58
difference_update 7
11 22 35 55 58 62 66
38

## The Captain's Room

Mr. Anant Asankhya is the manager at the INFINITE hotel. The hotel has an infinite amount of rooms.

One fine day, a finite number of tourists come to stay at the hotel.
The tourists consist of:
→ A Captain.
→ An unknown group of families consisting of K members per group where K ≠ 1.

The Captain was given a separate room, and the rest were given one room per group.

Mr. Anant has an unordered list of randomly arranged room entries. The list consists of the room numbers for all of the tourists. The room numbers will appear K times per group except for the Captain's room.

Mr. Anant needs you to help him find the Captain's room number.
The total number of tourists or the total number of groups of families is not known to you.
You only know the value of K and the room number list.

In [57]:
k = int(input())
room_number_list = list(map(int,input().split()))
captain_room_number = (sum(set(room_number_list))*k - sum(room_number_list)) // (k-1)
print(captain_room_number)

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8

## Check Subset

You are given two sets, A and B.
Your job is to find whether set A is a subset of set B.

If set A is subset of set B, print True.
If set A is not a subset of set B, print False.

In [59]:
n = int(input())
for i in range(n):
    a = int(input())
    A = set(input().split())
    
    b = int(input())
    B = set(input().split())
    
    print(A.issubset(B))

3
5
1 2 3 5 6
9
9 8 5 6 3 2 1 4 7
True
1
2
5
3 6 5 4 1
False
7
1 2 3 5 6 8 9
3
9 8 2
False

## Check Strict Superset

You are given a set A and n other sets.
Your job is to find whether set A is a strict superset of each of the N sets.

Print True, if A is a strict superset of each of the N sets. Otherwise, print False.

A strict superset has at least one element that does not exist in its subset.

In [61]:
s = set(input().split())
N = int(input())
result = True

for i in range(N):
    s1 = set(input().split())
    if not s1.issubset(s):
        result = False
    if len(s1) >= len(s):
        result = False
        
print(result)

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False